@font-face {font-family: 'PT Sans Narrow';
	font-weight: bold; 
	src: url('PTN77F_W.eot');
	src: local('PT Sans Narrow Bold'), url('PTN77F-webfont.woff') format('woff'),url('PTN77F_W.ttf') format('truetype'), url('PTN77F_W.svg#PTSans-NarrowBold') format('svg');}
